body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
h1 {
  background-color: rgb(181, 202, 235);
}
form {
  background-color: rgb(225, 241, 241);
  width: max-content;
}
div {
  background-color: rgb(235, 235, 177);
}
button {
  font-feature-settings: "abvm";
  
}